extends base.pug


block content 
    h4 Update Video
    form(method="POST")
        input(name="title", type="text", placeholder="Title", required, minlength=10, maxlength=200 value=video.title)
        input(name="description", type="text", placeholder="Description", required, minlengt=10, maxlength=200 value=video.description)
        input(name="hashtags", type="text", placeholder="Hashtags, separated by comma.", required value=video.hashtags.join())
        input(type="submit", value="Save")
        